@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&family=Open+Sans:wght@400;500;600;700&display=swap');

/* ||RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ||BASIC STYLES */

body, html{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

/* btns */
.btn{
    margin-top: 6rem;
    cursor: pointer;
}

.contact-btn {
    color: #fff;
    border: 2px solid #CD5C08;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 12px 10px;
    border-radius: 5px;
    transition: border 0.3s ease;
}

.contact-btn:hover{
    border: none;
}

.contact-btn i{
    padding-left: 0.5rem;
}

/* ||HEADER */
.main-header{
    min-height: 100vh;
    background-color: #333;
    background-image: url(../images/pimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

/* navigation */
.fixed-nav {
  position: fixed;
  background-color: rgba(0, 0, 0, .9);
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  animation: fadeInDown 0.3s;
  border: none;
  margin-bottom: 20%;
  z-index: 100;
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo img{
    width: 100px;
    cursor: pointer;
}

.nav-links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-links ul li{
    margin-left: 2rem;
}

.nav-links ul li a{
    text-decoration: none;
    color: #fff;

    position: relative;
    padding: 5px 0;
}

/* .nav-links ul li a:hover{
    color: #CD5C08;
} */

.nav-links ul li a::after{
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    position: absolute;
    height: 2px;
    background-color: #CD5C08;
    transition: 0.5s ease;
}

.nav-links ul li a:hover::after{
    width: 100%;
}


/* showcase section*/
.showcase{
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.showcase-title{
    font-family: 'Give You Glory', cursive;
    font-size: 1.6rem;
    padding-top: 1.5rem;
}

.showcase-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    margin-top: 4rem;
}

.caption{
    padding-top: 3rem;
    white-space: nowrap;
    font-family: 'Give You Glory', cursive;
    font-size: 21px;
    font-weight: 500;
}

.arrow{
    margin-top: -4rem;
}

.img img{
    margin-bottom: -2.5rem;
}


  /* main section */
  /* main{
    padding: 3rem 4rem;
  } */


  /* promotion section */

  .promotion-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
  }

  .promotion{
    width: 60%;
    margin-top: -100px;
    padding: 3rem 4rem;
    text-align: center;
    background-color: #333;
    z-index: 99;
  }

  .promotion-btn{
    margin-top: 2rem;
  }

  .promotion-btn a{
    display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border: 2px solid #3498db; /* Border color */
      border-radius: 5px; /* Rounded corners */
      color: #3498db; /* Text color */
      background-color: #ffffff; /* Background color */
      transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Transition effect */
  }

  .promotion-content h2{
    font-size: 2.5rem;
    font-weight: 600;
  }

  .promotion-content p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
  }

  /* food-category section */
  .food-category{
    padding: 3rem 4rem;
    text-align: center;
  }

  .food-category-title{
    font-size: 2.5rem;
    font-weight: 600;
  }

  /* search btn */
  .search{
    margin-top: 2rem;
  }

  /* input property */
  .search input{
    width: 20%;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db; /* Border color */
    border-radius: 5px; /* Rounded corners */
    color: #3498db; /* Text color */
    background-color: #ffffff; /* Background color */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Transition effect */
  }

  .search input:focus{
    outline: none;
  }

  .search input i{
    padding-left: 0.5rem;
    padding: 1rem;
    outline: none;

    
  }




  .food-category-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
  }

  .food-category-content .food-category-img{
    width: 30%;
    padding: 2rem 1rem;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .food-category-content .food-category-img:hover{
    background-color: #CD5C08;
  }

  .food-category-content .food-category-img img{
    margin-bottom: 1rem;
  }

  .food-category-content .food-category-img h4{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .food-category-content .food-category-img .price{
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
  }





  
